<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Coupon_Target::target" title="Coupon_Target::target" translate="title" sortOrder="10">
                    <resource id="Coupon_Target::target_configuration" title="Coupon_Target::target_configuration" translate="title" sortOrder="20" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>