<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Coupon_Target::target"
                title="Target"
                module="Coupon_Target"
                sortOrder="3"
                resource="Coupon_Target::target"
        />
        <add
                id="Coupon_Target::target_configuration"
                title="Configuration for unregistered users"
                module="Coupon_Target"
                sortOrder="5"
                parent="Coupon_Target::target"
                action="sales_rule/promo_quote/edit/id/11"
                resource="Coupon_Target::target_configuration"
        />
        <add
                id="Coupon_Target::target_config"
                title="Configuration for registered users"
                module="Coupon_Target"
                sortOrder="7"
                parent="Coupon_Target::target"
                action="sales_rule/promo_quote/edit/id/12"
                resource="Coupon_Target::target_config"
        />
    </menu>
</config>