<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="target" translate="label" sortOrder="10">
            <label>TARGET</label>
        </tab>
        <section id="target" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>target</label>
            <tab>target</tab>
            <resource>Coupon_Target::target_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>General Configuration</label>
                <field id="enable"
                       translate="label"
                       type="select"
                       sortOrder="5"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field
                        id="value"
                        translate="label"
                        type="text"
                        sortOrder="1"
                        showInDefault="1"
                        showInWebsite="0"
                        showInStore="0"
                >
                    <label>Discont</label>
                    <comment>some text</comment>
                </field>
                <field
                        id="lifetime"
                       translate="label"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                >
                    <label>Lifetime</label>
                    <comment>minuts</comment>
                </field>
                <field
                        id="min_sale_qty"
                       translate="label"
                       sortOrder="6"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="1"
                >
                    <label>Example</label>
                    <frontend_model>Magento\CatalogInventory\Block\Adminhtml\Form\Field\Minsaleqty</frontend_model>
                    <backend_model>Magento\CatalogInventory\Model\System\Config\Backend\Minsaleqty</backend_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="140" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
            </group>
        </section>
    </system>
</config>